<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
    android:supportsRtl="true">
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"
      android:exported="true"
      android:theme="@style/BootTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- Expo Updates -->
    <meta-data 
      tools:replace="android:value"
      android:name="expo.modules.updates.ENABLED"
      android:value="true"
    />
    <meta-data
      android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH"
      android:value="ALWAYS" />
    <meta-data
      android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS"
      android:value="0" />
    <meta-data
      android:name="expo.modules.updates.EXPO_UPDATE_URL"
      android:value="https://u.expo.dev/146c34c8-81a1-403e-ae3e-8a6d1cfa71f7" />
    <meta-data 
      android:value="{&quot;expo-channel-name&quot;:&quot;Development&quot;}"
      tools:replace="android:value"
      android:name="expo.modules.updates.UPDATES_CONFIGURATION_REQUEST_HEADERS_KEY"
    />
    <meta-data
      android:name="expo.modules.updates.EXPO_RUNTIME_VERSION"
      android:value="0.0.1" />
  </application>
</manifest>
